.App {
  margin: 1%;
}

.munro-container {
  display: flex;
  justify-content: space-between;
}

.munro-list {
  width:40%
}

.selected-munro {
  position: fixed;
  right: 1%;
  width:40%;
}

.munro-weather > ul {
  padding:0;
  line-height: 1.5;
}

.munro-weather > ul > li {
  list-style: none;
}
